
@using Portfolio_CV.Model
@using Portfolio_CV.langresors

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://kit.fontawesome.com/150f0be467.js" crossorigin="anonymous"></script>
    <title>Folio - Personal Portfolio Template</title>
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/PublicFront/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/PublicFront/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="~/PublicFront/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/PublicFront/lib/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/PublicFront/lib/hover/hover.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/PublicFront/css/style.css" rel="stylesheet">

    <!-- Responsive css -->
    <link href="~/PublicFront/css/responsive.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/PublicFront/images/favicon.png">


</head>

<body>

    <!-- start section navbar -->
    <nav id="main-nav">
        <div class="row">
            <div class="container">

                <div class="logo">
                    <a href="index.html"><img src="~/PublicFront/images/logo.png" alt="logo"></a>
                </div>

                <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

                <ul class="nav-menu list-unstyled">
                    <li><a href="#header" class="smoothScroll">@rhome.Lhome</a></li>
                    <li><a href="#about" class="smoothScroll">@rhome.LAbout</a></li>
                    <li><a href="#portfolio" class="smoothScroll">@rhome.LPortfolio</a></li>
                    <li><a href="#journal" class="smoothScroll">@rhome.LBlog</a></li>
                    <li><a href="#contact" class="smoothScroll">@rhome.LContact</a></li>
                    <li>
                        <ul style="list-style:none">
                            <li><a href="@Url.Action("LangSetting","MainLanguage",new {lang="az" })">Az</a></li>
                            <li><a href="@Url.Action("LangSetting","MainLanguage",new {lang="ru" })">Ru</a></li>
                            <li><a href="@Url.Action("LangSetting","MainLanguage",new {lang="en" })">Eng</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- End section navbar -->
    <!-- start section header -->
    <div id="header" class="home">

        <div class="container">
            <div class="header-content">
                <h1 style="color:slategrey">I'm <span style="color:slategrey" class="typed"></span></h1>
                <p style="color:slategrey">designer, developeur, back-end developer, organizer</p>

                <ul class="list-unstyled list-social">
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-tumblr"></i></a></li>
                    <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End section header -->


    @RenderBody()

    <!-- start sectoion contact -->
    <div id="contact" class="paddsection">
        <div class="container">
            <div class="contact-block1">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="contact-contact">

                            <h2 class="mb-30">@rhome.LConWith</h2>

                            <ul class="contact-details">
                                <li><span>@ViewBag.Contact.Addres</span></li>
                                <li><span>@ViewBag.Contact.Phone</span></li>
                                <li><span>@ViewBag.Contact.Email</span></li>
                            </ul>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="row">

                                <div id="sendmessage">Your message has been sent. Thank you!</div>
                                <div id="errormessage"></div>

                                <div class="col-lg-6">
                                    <div class="form-group contact-block1">
                                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <input type="submit" class="btn btn-defeault btn-send" value="@rhome.LSend">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 mt-3">
                        <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a><a href="https://yandex.ru/maps/?ll=49.947870%2C40.494563&mode=whatshere&source=wizgeo&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=49.947087%2C40.494743&whatshere%5Bzoom%5D=18.44&z=18" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс.Карты — поиск мест и адресов, городской транспорт</a><iframe src="https://yandex.ru/map-widget/v1/-/CKaluZPc" width="100%" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- start sectoion contact -->
    <!-- start section footer -->
    <div id="footer" class="text-center">
        <div class="container">
            <div class="socials-media text-center">

                <ul class="list-unstyled">
                    @foreach (Sosial ct in ViewBag.Sosiality) // BU HİSSƏNİN DAVAMINI İŞLƏ
                    {
                        <li><a href="@ct.Links"><i class="@ct.Icons"></i></a></li>
                    }
                </ul>

            </div>

            <p>&copy; Copyrights Folio. All rights reserved.</p>
        </div>
    </div>
    <!-- End section footer -->
    <!-- JavaScript Libraries -->
    <script src="~/PublicFront/lib/jquery/jquery.min.js"></script>
    <script src="~/PublicFront/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/PublicFront/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/PublicFront/lib/typed/typed.js"></script>
    <script src="~/PublicFront/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/PublicFront/lib/magnific-popup/magnific-popup.min.js"></script>
    <script src="~/PublicFront/lib/isotope/isotope.pkgd.min.js"></script>

    <!-- Contact Form JavaScript File -->
    <script src="~/PublicFront/contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="~/PublicFront/js/main.js"></script>

</body>

</html>
