@model IEnumerable<Portfolio_CV.Model.AboutLeft>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Portfolio/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>HaqqimdaFoto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MyPhoto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:25%">
            <img src="@item.MyPhoto" class="img-fluid" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
